@using Blazor.Models
@using Microsoft.EntityFrameworkCore
@inject FormCustomizationContext DbContext

@if (Form != null)
{
  <form>
    @foreach (var input in Form.Inputs)
    {
      <div class="mb-3">
        <label for="@input.Id" class="form-label">@input.Label</label>
        <InputView InputId="input.Id" />
      </div>
    }
  </form>
}
else
{
  <p>Loading form details...</p>
}

@code {
  [Parameter]
  public int? FormId { get; set; }
  [Parameter]
  public EventCallback<int?> FormIdChanged { get; set; }
  public Form? Form { get; set; }

  protected override async Task OnInitializedAsync()
  {
    await LoadForm();
  }

  protected override async Task OnParametersSetAsync()
  {
    await LoadForm();
  }

  private async Task LoadForm()
  {
    Form = await DbContext.Forms
    .Include(f => f.Inputs)
    .FirstOrDefaultAsync(f => f.Id == FormId);
  }

}